name: "App Deployment"

on:
  push:
    branches:
      - "main"

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      # CI: Build image while server is still booting
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push
        run: |
          docker build -t aaren17/devops-demo:latest .
          docker push aaren17/devops-demo:latest

      # NEW: Wait for the server to finish installing Docker
      - name: Wait for Server Readiness
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          command_timeout: 10m
          script: |
            # This waits until the user_data script is done
            sudo cloud-init status --wait

      # CD: Teleport file with a longer timeout to prevent i/o errors
      - name: Copy Compose File
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          timeout: 300s # Patiently waits for the SSH port to open
          source: "docker-compose.yml"
          target: "/home/ubuntu/"

      # REFRESH
      - name: Remote Docker Update
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd /home/ubuntu
            docker-compose pull
            docker-compose up -d