name: "App Deployment"

on:
  push:
    branches:
      - "main" # Every push to main triggers a deployment

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      # CI: Build the fresh image and push to the "Warehouse"
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push
        run: |
          docker build -t aaren17/devops-demo:latest .
          docker push aaren17/devops-demo:latest

      # CD: Teleport the blueprint to the EC2
      - name: Copy Compose File
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          source: "docker-compose.yml" # Teleports your repository file
          target: "/home/ubuntu/"

      # REFRESH: Tell the server to pull the new code
      - name: Remote Docker Update
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd /home/ubuntu
            docker compose pull  # Grabs the fresh compiled image
            docker compose up -d # Restarts containers as a group