name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  # JOB 1: BUILD AND PUSH TO DOCKER HUB
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          # IMPORTANT: Make sure this matches the image name in your main.tf!
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/devops-demo:latest

  # JOB 2: DEPLOY INFRASTRUCTURE (TERRAFORM)
  deploy-infra:
    needs: build-and-push # Wait for Job 1 to finish first!
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./terraform # Point to the folder where main.tf lives
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Terraform Init
        env:
          # These secrets unlock the S3 Bucket access
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: "us-east-1" 
        run: terraform init

      - name: Terraform Apply
        env:
          # These secrets unlock the creation of EC2 servers
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: "us-east-1"
        run: terraform apply -auto-approve